*.iml 
*.iws 
*.ipr 

.idea/
.idea/.name
.idea/caches 

.DS_Store

.gradle
.gradle/ 
.build/
*/build/ 

build.xml
ant.properties
local.properties
project.properties
 

*.class
*.dex
*ap_
*.apk

bin/
out/
/libs
gen/
production/

*~ 
*.swp

*/.gitignore
